{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.title }}
{% endblock %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'add' listing.id %}">Add to watchlist</a>
        {% if listing in watchlist %}
            <a href="{% url 'remove' listing.id %}">Remove from watchlist</a>
        {% endif %}
    {% if user == listing.user and listing.opened == True%}
        <a href="{% url 'close' listing.id %}">Close</a>
    {% endif %}
    {% endif %}
    <br>
    <img src={{ listing.image }} alt="No photo" width="800">
    {% if listing.bid.value is not None %}
        <h2>Current bid:</h2>
        <h3>${{ listing.bid.value }}</h3>
        {% if listing.bid.user == user %}
            <div><strong>It's your bid</strong></div>
        {% endif %}
        {% if listing.opened == False and listing.bid.user == user %}
            <h3>(Closed, you have won)</h3>
        {% elif listing.opened == False %}
            <h3>(Closed)</h3>
        {% endif %}
    {% else %}
        <h2>Starting bid:</h2>
        <h3>${{ listing.starting }}</h3>
        {% if listing.opened == False %}
            <h3>(Closed)</h3>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        {% if message is not None %}
            <div>{{ message }}</div>
        {% endif %}
        {% if listing.opened == True %}
            <form action={{ listing.id }} method="POST">
                {% csrf_token %}
                <input type="number" name="value" placeholder="Bid">
                <input type="submit">
            </form>
        {% endif %}
    {% endif %}
    <h2>Details</h2>
    <ul>
        <li>Listed by {{ listing.user }}</li>
        <li>Category {{ listing.category.name }}</li>
    </ul>
    <h2>Description</h2>
    <br>
    <div>
        {{ listing.description }}
    </div>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'make_comment' listing.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment" cols=70 rows=5 placeholder="Write a comment" required></textarea>
            <br>
            <input type="submit" value="Comment">
        </form>
    {% endif %}
    <br>
    <h2>Comments</h2>
    {% for comment in comments %}
        <strong>{{ comment.user }}</strong>
        <p>{{ comment.comment }}</p>
    {% endfor %}
{% endblock %}